.profile-page
  .profile-page__index
    .profile-page__index__header
      %h1 About us
    .profile-page__index__body
      .profile-page__index__body__top
        .profile-page__index__body__top__text
          %h2 あなたの皮膚、筋肉、脂肪は全て、あなたの食事から成り立ちます。
          %h3 ニキビやアトピーといったスキントラブルから、肥満、エイジング...。全てのトラブルは、ひょっとすると今の食生活が原因かもしれません。皮膚や筋肉はタンパク質から成り、糖質や脂質は過多により体脂肪として蓄積されます。日々口にするもので、私たちの身体は日々新しく生まれ変わっています。
        .profile-page__index__body__top__text
          %h2 食事内容から、遺伝子による代謝の得意・不得意を知りましょう
          %h3 実は、スキンケアとダイエットは紙一重。人は誰しもが“肥満遺伝子”を持っており、代謝が得意な栄養素と、苦手な栄養素があります。糖質の摂りすぎで太りやすいなら、糖質の摂りすぎでスキントラブルの原因に成りうる可能性を秘めています。レコーディングをすることで、まずは食事の偏りを見つけましょう。原因が分かれば、対策をすることが出来ます。お食事内容を拝見して、私たちが予防策を一緒に考えます。
        .profile-page__index__body__top__profile
          %h2 Yuka Ikeda
          %h3 池田ゆか（ いけだ ゆか、1995年 - ）専門学校卒業後、メディカルエステサロンにてセラピストとして4年勤務。ニキビ、アトピーといったスキントラブルから、アンチエイジング、ダイエットといった幅広い美容分野に従事して参りました。
    .profile-page__index__footer
      =link_to "back", root_path