.profile-page
  .profile-page__index
    .profile-page__index__header
      %h1 About us
    .profile-page__index__body
      .profile-page__index__body__top
        .profile-page__index__body__top__text
          %h2 3つの肥満遺伝子とは？
          %h3 ヒトの遺伝子は、ヒトゲノムプロジェクトによると約26000個あると言われており、その中で、体質に関わる遺伝子が約200〜250個、さらに肥満に関わる遺伝子が約50個種類存在することが発見されています。多くの日本人がそのうち3つの肥満遺伝子のいずれかに変異があることが、さまざまな研究者により解明されています。
          %h3 3つの肥満遺伝子とは、β3AR遺伝子（りんご型）・UCP1遺伝子（洋なし型）・β2AR遺伝子（バナナ型）です。
          %h3 この3つの肥満遺伝子は、体の代謝作用に深く関わっており、日本人の96％がこの3つの遺伝子のいずれかに変異があるとされています。
        .profile-page__index__body__top__text
          %h2 【β3AR遺伝子・りんご型】
          %h3 内臓脂肪がつきやすく、男性の場合はお腹がぽっこりと突き出る、いわゆるビール腹タイプ。ぽっちゃりしていて、顔は丸顔の人が多く見られます。
          %h3 日本人の約34％がこの遺伝子を保有しており、女性より男性に多く見られます。ごはん、パン、芋類、あんこなどの糖質を好む傾向があり、糖質の代謝が苦手なため、糖質で太りやすい特徴があります。ダイエットの結果が出やすいですが、リバウンドも早いです。
          %h3 栄養バランスは、たんぱく質：脂質：糖質 ＝ 20：25：55 を目安としましょう。
        .profile-page__index__body__top__text
          %h2 【UCP1遺伝子・洋なし型】
          %h3 脂質を燃焼させる効率が悪く、脂質で太りやすいタイプ。女性の場合は、体温が下がると、特に下半身に皮下脂肪として蓄積されやすく、ヒップや太ももから太ります。
          %h3 日本人の約25％がこの遺伝子を保有しており、男性より女性に多く見られます。肉、揚げもの、洋菓子、ジャンクフードを好む傾向があり、脂質の代謝が苦手なため、脂質で太りやすい特徴があります。ダイエットの効果がなかなか現れない傾向があります。
          %h3 栄養バランスは、たんぱく質：脂質：糖質 ＝ 20：20：60 を目安としましょう。
        .profile-page__index__body__top__text
          %h2 【β3AR遺伝子・バナナ型】
          %h3 筋肉がつきにくいので、一度太ると痩せにくいタイプ。年齢と共に内臓脂肪がつきやすくなり、いわゆる“隠れ肥満”状態に。全身にムチムチと脂肪がつきやすい特徴があります。
          %h3 日本人の約15％がこの遺伝子を保有しており、男女比は半々です。野菜や豆腐などのヘルシーなものを好む傾向があり、たんぱく質を素早く分解してしまうため不足しやすく、太りにくい体質なだけに一度太ってしまうと痩せるのは大変なタイプです。
          %h3 栄養バランスは、たんぱく質：脂質：糖質 ＝ 25：25：50 を目安としましょう。
        .profile-page__index__body__top__profile
          %h2 Yuka Ikeda
          %h3 専門学校卒業後、メディカルエステサロンにてセラピストとして4年勤務。ニキビ、アトピーといったスキントラブルから、アンチエイジング、ダイエットといった幅広い美容分野に従事して参りました。
    .profile-page__index__footer