.event-index
  - if user_signed_in?
    .event-index__#calendar

  - else
    .top-page
      .top-page__message
        .top-page__message__title 健康ダイエット、はじめませんか？
        .top-page__message__text 
          %h1 皮膚も、筋肉も、脂肪も、すべて食事が変われば変わります。
          %h1 あなたの体質を正しく理解して、ダイエットに挑戦しませんか？
        .top-page__message__link
          %h2
            = link_to "登録する", new_user_registration_path
          %h2
            = link_to "About us", tweets_path
          %h2
            = link_to "Contacts", new_contact_path