-# %h1 Listing records

-# %table
-#   %thead
-#     %tr
-#       %th Date
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @records.each do |record|
-#       %tr
-#         %td= record.date
-#         %td= link_to 'Show', record
-#         %td= link_to 'Edit', edit_record_path(record)
-#         %td= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Record', new_record_path

- if user_signed_in?
  #calendar

- else
  .top-page
    .top-page__message
      こんにちは