.events-show
  .events-show__date.clearfix
    = @event.start_date.strftime("%Y/%-m/%-d")
    = link_to "edit", edit_event_path, class: "events-edit"
  .events-show__food
    - @event.foods.each do |food|
      .events-show__food__name
      = food.name
      %br