.devise-session
  .devise-session__header
    %h2 Log in
  .devise-session__body
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %label.label email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "full-field"
      %br
      %br
      %label.label password
      %br
      = f.password_field :password, autocomplete: "current-password", class: "full-field"
      %br
      .devise-session__body__login
        = f.submit "Log in"
  .devise-session__footer
