@mixin date-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  margin: 5px 0 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
}

#event_start_date_1i.year {
  @include date-field;
  width: 80px;
}

#event_start_date_2i.month {
  @include date-field;
  width: 120px;
}

#event_start_date_3i.day {
  @include date-field;
  width: 80px;
}

.events-form__field {
  &__date {
    h1 {
      font-size: 14px;
    }
  }
}