@mixin date-field {
  font-size: 16px;
  height: 60px;
  width: 130px;
  margin: 5px 0 0;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

@mixin input-form-field {
  font-size: 16px;
  height: 60px;
  width: 420px;
  font-size: 16px;
  color: #333;
  margin: 5px 0 0;
  padding: 0 10px;
  background-color: #fff;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  border: 1px solid #ccc;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

@mixin submit-black-button {
  margin: 60px 0 0;
  text-align: center;
  input {
    padding: 10px 50px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 24px;
    font-weight: 200;
    transition: all 0.3s ease 0s;
    border: solid 1px white;
    box-sizing: border-box;
  }
  input:hover {
    opacity: 0.7;
  }
}

#event_start_date_1i.year, #event_start_date_3i.day{
  @include date-field;
  width: 129px;
}

#event_start_date_2i.month {
  @include date-field;
  width: 131px;
}

#event_start_date_2i.month, #event_start_date_3i.day {
  margin: 0 0 0 10px;
}

.event-form__field {
  &__date {
    h1 {
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      font-family: neue-haas-unica, sans-serif;
    }
    &__form {
      // width: 1000px;
      // box-sizing: border-box;
    }
  }
  &__food {
    h1 {
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      font-family: neue-haas-unica, sans-serif;
      padding: 20px 0 0;
    }
    .event_foods {
      @include input-form-field;
      width: 100%;
      box-sizing: border-box;
    }
    #food-search-result {
      box-sizing: border-box;
      font-size: 12px;
      margin: 8px 0 0;
    }
  }
  &__result {
    h1 {
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      font-family: neue-haas-unica, sans-serif;
      padding: 20px 0 0;
    }
  }
  .event-food.clearfix {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .event-food__name {
      float: left;
      // box-sizing: border-box;
    }
    .food-search-add {
      float: right;
      // box-sizing: border-box;
      color: #708090;
    }
  }
  .event-form__field__add.clearfix {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .event-food__name {
      float: left;
    }
    .food-search-remove {
      float: right;
      color: #8b4513;
    }
  }
}

.event-form__actions {
  @include submit-black-button;
}