@mixin input-form-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  margin: 5px 0 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
}

.inquiry-index-page {
  width: 700px;
  margin: 0 auto;
  &__header {
    margin: 100px 16px 32px;
    text-align: center;
  }
  &__body {
    margin: 40px 100px 100px;
    padding: 0 40px;
    text-align: left;
    .label {
      padding: 20px 0 0;
      font-weight: bold;
    }
    .full-field {
      @include input-form-field;
      width: 100%;
      box-sizing: border-box;
    }
  }
}