.event-index {
  font-weight: 100;
  background: image-url('trees.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  #calendar {
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 20px;
    width: 700px;
    text-align: center;
    color: white;
  }
}

h2 {
  color: white;
  font-weight: 100;
  font-family: 'Avenir',sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
}

.fc-time{
   display : none;
}

.fc-sun, .fc-sat {
  background-color: rgba(0,0,0,0.7);
}

.fc-day-header {
  color: white !important;
}

.fc-today {
  background-color: rgba(0,0,0,0.7)!important;
  border-color: white !important;
}

.fc-day-header {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #333;
  font-size: 16px;
}

.fc-day-top {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}

.fc-day-number {
  color: white;
  font-family: 'Avenir',sans-serif;
}

.fc-right .fc-prev-button, .fc-right .fc-next-button {
  background-color: rgba(0,0,0,0.7);
  color: white;
  background-image: none;
  border: none;
}

.fc-today-button {
 display: none;
}

.fc-button:hover {
  opacity: 0.7;
}

@mixin input-form-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  margin: 5px 0 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
}

@mixin date-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  margin: 5px 0 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
}

@mixin submit-black-button {
  margin: 60px 0 0;
  text-align: center;
  input {
    width: 200px;
    padding: 10px 50px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 24px;
    font-weight: 200;
    transition: all 0.3s ease 0s;
    border: solid 1px white;
    box-sizing: border-box;
  }
  input:hover {
    opacity: 0.7;
  }
}

.records-new {
  max-width: 700px;
  .records-new-header {
    padding: 100px 16px 32px;
    text-align: center;
  }
  .records-new-body {
    padding: 40px 100px;
    text-align: left;
  }
}

#record_date_1i.year {
  @include date-field;
  width: 80px;
}
#record_date_2i.month {
  @include date-field;
  width: 120px;
}
#record_date_3i.day {
  @include date-field;
  width: 80px;
}

.record-form__field {
  &__date {
    h1 {
      font-size: 14px;
    }
  }
  &__food {
    h1 {
      padding: 20px 0 0;
      font-size: 14px;
    }
    .records_foods {
      @include input-form-field;
      width: 266px;
    }
    #food-search-result {
      font-size: 12px;
      .redords-food.clearfix {
        width: 270px;
        margin: 10px 5px;
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        .redords-food__name {
          float: left;
        }
        .food-search-add {
          float: right;
          color: #8b4513;
        }
      }
    }
  }
  &__result {
    h1 {
      padding: 20px 0 0;
      font-size: 14px;
    }
  }
  .record-form__field__add.clearfix {
    width: 270px;
    margin: 10px 5px;
    font-size: 12px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .redords-food__name {
      float: left;
    }
    .food-search-remove {
      float: right;
      color: #708090;
    }
  }
}

.record-form__actions {
  @include submit-black-button;
}

.record-show {
  margin: 100px 400px;
  &__date {
    font-size: 26px;
  }
  &__food {
    padding: 10px 20px;
    &__name {
      margin: 10px 5px;
    }
  }
}