@mixin input-form-field {
  font-size: 16px;
  height: 60px;
  width: 420px;
  font-size: 16px;
  color: #333;
  margin: 5px 0 0;
  padding: 0 10px;
  background-color: #fff;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  border: 1px solid #ccc;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

@mixin date-field {
  font-size: 16px;
  height: 60px;
  width: 130px;
  margin: 5px 0 0;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

@mixin submit-black-button {
  margin: 60px 0 0;
  text-align: center;
  input {
    width: 200px;
    padding: 10px 50px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 24px;
    font-weight: 200;
    transition: all 0.3s ease 0s;
    border: solid 1px white;
    box-sizing: border-box;
  }
  input:hover {
    opacity: 0.7;
  }
}

.devise-registration {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: image-url('trees.jpg');
  background-size: cover;
  overflow: scroll;
  color: white;
  font-style: normal;
  &__header {
    padding: 100px 0 60px;
    text-align: center;
    h2 {
      color: white;
      font-weight: 100;
      font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
      font-size: 60px;
      font-weight: 200;
      text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
    }
  }
  &__body {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    &__half {
      width: 100%;
      display: inline-block;
    }
    &__three {
      height: 58px;
      display: inline-block;
    }
    .japanese {
      size: 60px;
    }
    .half-field {
      @include input-form-field;
      width: 200px;
    }
    .full-field {
      @include input-form-field;
      width: 404px;
    }
    .label {
      float: left;
      box-sizing: border-box;
      padding: 20px 0 0 1px;
      font-weight: 200;
      font-style: normal;
      font-family: neue-haas-unica, sans-serif;
    }
    #user_birthday_1i.year, #user_birthday_2i.month, #user_birthday_3i.day {
      @include date-field;
    }
    &__submit {
      @include submit-black-button;
    }
  }
  &__footer {
    height: 60px;
    width: 100%;
  }
}