@mixin input-form-field {
  font-size: 16px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px 0 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
  font-weight: 200;
  height: 60px;
  font-family: neue-haas-unica, sans-serif;
}

@mixin submit-black-button {
  text-align: center;
  margin: 60px 0 0;
  input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    appearance: none;
    box-sizing: border-box;
    background-color: white;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    border: solid 1px #333;
    transition: all 0.3s ease 0s;
  }
  input:hover {
    background-color: #333;
    color: white;
  }
}

.devise-session {
  color: #333;
  font-style: normal;
  width: 700px;
  margin: 0 auto;
  &__header {
    margin: 100px 0 60px;
    text-align: center;
    h2 {
      font-size: 45px;
      font-style: normal;
      font-weight: 200;
      font-family: neue-haas-unica, sans-serif;
    }
  }
  &__body {
    margin: 40px 100px 100px;
    padding: 0 40px;
    text-align: left;
    .label {
      padding: 20px 0 0;
      font-weight: 200;
      font-style: normal;
      font-family: neue-haas-unica, sans-serif;
    }
    .full-field {
      @include input-form-field;
      box-sizing: border-box;
      width: 100%;
    }
    &__login {
      @include submit-black-button;
    }
  }
}
